* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar-default {
    background-color: #263544;
}

.nav-link {
    color: #C6D2E2;
}

.nav-link:hover {
    color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255, 0.5);
}

.active>a {
    background-color: #000000;
    color: white !important; 
}

.div-nav {
    padding-right: 0 !important;
}

.badge {
    float: right;
    color: white;
}
#v-pills-tab {
    background-color: #263544;
    height: 100%;
}

a[aria-selected="true"] {
    background-color: black !important;
    border-left-color: #42a5f5;
    border-left-width: 4px;
    border-left-style: solid;
}

/* Css for content starts here */
.div-content {
    background-color: #F2F7FB;
    padding-bottom: 20px;
    padding-left: 40px;
}

.heading-text {
    margin-top: 40px;
    margin-left: 20px;
}

.div-other {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    border-radius: 10px;
}

.div-chart {
    /* margin-left: 20px; */
    background-color: white;
    border-radius: 10px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    background-color: white;
    font-size: 14px;
    padding: 0;
    padding-bottom: 10px;
    margin-top: 15px;
}

.other-content {
    color: #4099FF;
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 22px;
}

/* progress bar */
.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
    margin-left: -10px;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.blue .progress-bar {
    border-color: #4099FF;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.yellow .progress-bar {
    border-color: #FFB64D;
}

.progress.yellow .progress-left .progress-bar {
    animation: loading-3 1s linear forwards 1.8s;
}

.progress.pink .progress-bar {
    border-color: #FF5370;
}

.progress.pink .progress-left .progress-bar {
    animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.green .progress-bar {
    border-color: #2ED8B6;
}

.progress.green .progress-left .progress-bar {
    animation: loading-5 1.2s linear forwards 1.8s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}

@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}

.progress-bars {
    background-color: white;
    margin-top: 40px;
    padding-left: 20px;
    width: 92% !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 20px;
}

.div-progress-bar .bar-header {
    font-weight: 600;
    margin-top: 20px;
}

.number {
    color: #333333;
    font-weight: bold;
}

.positive {
    color: #2ED8B6;
    font-weight: bold;
}

.negative {
    color: #ff5370;
    font-weight: bold;
}

.checked {
    color: orange;
}

.div-table {
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tbody>tr:hover {
    cursor: pointer;
    background-color: #ECF5FF;
}

/* time line */
/* Import */
#content {
    margin-top: 50px;
    text-align: center;
}

/* Timeline */
.div-timeline {
    margin-top: 40px;
    margin-bottom: 20px;
}

/** create circle on timeline **/
.timeline {
    background-color: white;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 20px;
    background: #EBEBEB;
}

.timeline ul li .img-timeline {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
}

.img-avatar {
    border: 2px solid white;
    box-shadow: 0 5px 10px 0 rgba(43, 43, 43, 0.2);
}

.timeline ul li .fa-clock {
    background-color: #FF5370;
    box-shadow: 0 0 0 4px rgba(255, 83, 112, 0.2);
    color: white;
    padding-top: 3px;
    padding-left: 4px;
}

.timeline ul li .fa-check {
    background-color: #2ED8B6;
    box-shadow: 0 0 0 4px rgba(46, 216, 182, 0.2);
    color: white;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.timeline ul .li-timeline2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
}

.timeline ul .red::after {
   border: 5px solid #FF5370;
}

.timeline ul .blue::after {
    border: 5px solid #4099FF;
 }

 .timeline ul .green::after {
    border: 5px solid #2ED8B6;
 }

.timeline-header:hover {
    color:#4099FF;
    cursor: pointer;
}
/*time line description */
.timeline ul li .timeline-description {
    position: relative;
    bottom: 0;
    bottom: 0;
    width: 400px;
    padding: 15px;
}


.timeline ul li .timeline-description {
    left: 45px;
    top: 20px;
}

.timeline-event {
    color: #9CA3A9;
    font-size: 14px;
}

/* css for scroll bar */
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}