:root {
  --color-blue-dark: #1c4f68;
  --color-blue-medium: #517586;
  --color-blue-light: #a5c7d5;
  --color-black: #161c19;
  --color-white: #f9fafb;
  --color-grey: #708a94;
  --color-grey-light: #95b2bd;

  --font-main: 'Playfair Display', serif;
  --font-secondary: 'Noto Sans JP', sans-serif;
  --font-logo: 'Spectral', serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    #fff 0%,
    #fff 30%,
    var(--color-blue-light) 30%,
    var(--color-blue-light) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 65vw;
  padding: 3rem;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;

  -webkit-box-shadow: 9px 7px 26px -6px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 9px 7px 26px -6px rgba(0, 0, 0, 0.83);
  box-shadow: 9px 7px 26px -6px rgba(0, 0, 0, 0.83);

  background-size: 150% 150%;

  animation: zoomOut 1s cubic-bezier(0.43, 0.44, 0.7, 0.68);
  animation-fill-mode: both;
  transition: all 0.2s;
}

.section-about {
  background-image: url(../img/background-4.jpeg);
  background-size: 150% 150%;

  animation: zoomOut 1s cubic-bezier(0.43, 0.44, 0.7, 0.68);
  animation-fill-mode: both;
  transition: all 0.2s;
}

.section-vietnam {
  display: none;

  background-image: url(../img/background-3.jpeg);

  &:target {
    display: flex;
  }

  &:target ~ .section-about {
    display: none;
  }
}

.section-culture {
  display: none;

  background-image: url(../img/background-2.jpeg);

  &:target {
    display: flex;
  }

  &:target ~ .section-about {
    display: none;
  }
}
