<<<<<<< HEAD
body{
    padding-top: 20px;
}

.nav-justified{
    background-color: #eee;
    border-radius: 5px;
    
}

.nav-justified > li > a{
    padding: 15px 0;
    color: #777;
    text-align: center;
    background-color: #e5e5e5;
}

.jumbotron{
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn{
    padding: 15px 25px;
    font-size: 22px;
}

.centro{
    text-align: center;
}
























=======
* {
    margin: 0; 
    padding: 0; 
    outline: none; 
    border: none; 
    box-sizing: border-box; 
}
h1 {
    padding-top: 30px;
    padding-left: 80px;
    color: #777777;
    padding-bottom: 20px;
}

/* .nav-link {
    width: 16.667%;
} */

.nav-link:hover {
    background-color: #EEEEEE;
}

.jumbotron h1 {
    color: black;
}

.div-portfolio a {
    margin: 0 auto;
}

.container {
    margin-bottom: 40px;
}
>>>>>>> bdb2561259adbaa49a9eeadab01f265f6a968b61

