:root {
  --color-blue-dark: #1c4f68;
  --color-blue-medium: #517586;
  --color-blue-light: #a5c7d5;
  --color-black: #161c19;
  --color-white: #f9fafb;
  --color-grey: #708a94;
  --color-grey-light: #95b2bd;
  --font-main: 'Playfair Display', serif;
  --font-secondary: 'Noto Sans JP', sans-serif;
  --font-logo: 'Spectral', serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #fff 0%, #fff 30%, var(--color-blue-light) 30%, var(--color-blue-light) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

section {
  width: 65vw;
  padding: 3rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 9px 7px 26px -6px rgba(0, 0, 0, 0.83);
  -moz-box-shadow: 9px 7px 26px -6px rgba(0, 0, 0, 0.83);
  box-shadow: 9px 7px 26px -6px rgba(0, 0, 0, 0.83);
  background-size: 150% 150%;
  animation: zoomOut 1s cubic-bezier(0.43, 0.44, 0.7, 0.68);
  animation-fill-mode: both;
  transition: all 0.2s; }

.section-about {
  background-image: url(../../img/background-4.jpeg);
  background-size: 150% 150%;
  animation: zoomOut 1s cubic-bezier(0.43, 0.44, 0.7, 0.68);
  animation-fill-mode: both;
  transition: all 0.2s; }

.section-vietnam {
  display: none;
  background-image: url(../../img/background-3.jpeg); }
  .section-vietnam:target {
    display: flex; }
  .section-vietnam:target ~ .section-about {
    display: none; }

.section-culture {
  display: none;
  background-image: url(../../img/background-2.jpeg); }
  .section-culture:target {
    display: flex; }
  .section-culture:target ~ .section-about {
    display: none; }

@keyframes moveFromRightToLeft {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveFromLeftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes growTo2Side {
  0% {
    opacity: 0;
    transform: scaleX(0); }
  100% {
    opacity: 1;
    transform: scaleX(1); } }

@keyframes zoomOut {
  0% {
    background-size: 150% 150%;
    background-position: center; }
  100% {
    background-size: 100% 100%;
    background-position: center; } }

.logo {
  font-family: var(--font-logo);
  font-size: 2rem;
  color: var(--color-white);
  font-weight: 100; }
  .logo span {
    font-weight: 700; }

.hero {
  margin: 4rem 0; }
  .hero--title {
    font-family: var(--font-main);
    color: var(--color-white);
    font-size: 4.5rem;
    font-weight: 700;
    width: 40%;
    line-height: 1.2;
    margin-bottom: 3rem;
    animation: moveFromLeftToRight 0.7s 0.3s ease-in-out;
    animation-fill-mode: both; }

.btn {
  border: 1px solid var(--color-white);
  font-family: var(--font-secondary);
  padding: 2px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent; }
  .btn--content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem 3rem;
    color: var(--color-white);
    letter-spacing: 1.1px;
    animation: growTo2Side 0.5s ease-in-out 0.5s;
    animation-fill-mode: both; }

.description {
  width: 55%;
  align-self: flex-end;
  text-align: right;
  font-size: 1.3rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  padding: 2rem 1rem;
  margin-right: -3rem;
  padding-right: 4rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  animation: moveFromRightToLeft 0.7s ease-in-out;
  animation-fill-mode: forwards; }
  .description p {
    opacity: 0;
    animation: moveFromBottom 0.5s ease-in-out 0.5s;
    animation-fill-mode: forwards; }

.navigation {
  width: 85%;
  align-self: flex-end;
  margin-right: -3rem;
  display: flex;
  justify-content: flex-end;
  animation: moveFromRightToLeft 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0; }
  .navigation--list {
    list-style: none;
    display: flex; }
  .navigation--item {
    background-color: var(--color-white);
    padding: 3rem; }
  .navigation--link {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-weight: 100;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: moveFromBottom 0.5s ease-in-out 1.3s;
    animation-fill-mode: forwards;
    position: relative; }
    .navigation--link::before {
      content: '';
      display: block;
      width: 1px;
      height: 1px;
      background-color: var(--color-blue-light);
      transition: all 0.3s;
      position: absolute;
      bottom: 0; }
    .navigation--link__title {
      font-weight: 500;
      margin-bottom: 1rem; }
    .navigation--link:hover {
      color: var(--color-blue-light); }
      .navigation--link:hover::before {
        width: 100%; }
